/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
  box-sizing: border-box;
}


body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.25;
  padding-bottom: 100px;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.table-row {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
.table-row__mobile {
  display: none;
}

.table-heading,
.table-data {
  padding: .625em;
  text-align: center;
  cursor: pointer;
}

.table-title {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
.table-heading {
  font-weight: 700;
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
.btn-delete-user {
  cursor: pointer;
}


/* Start modal styles */
.modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgb(0 0 0 / 30%);
  align-items: center;
  justify-content: center;
  display: none;
  padding: 0 15px;
}
.modal-backdrop.is-visible {
  display: flex;
}
.modal {
  max-width: 720px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #000;
  background-color: #fff;
  padding: 15px;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.modal-title {
  font-size: 18px;
  font-weight: 700;
}
.btn-modal-close {
cursor: pointer;
}
.modal-row {
  display: flex;
  flex-wrap: wrap;
}
.modal-col {
  width: 50%;
}
.info-title {
  margin: 5px 0;
  font-weight: 700;
}

.form-add-user {
  display: flex;
  flex-wrap: wrap;
}
.form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
}
.form-group__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.btn {
  cursor: pointer;
}
.btn-add-user {
  font-size: 20px;
  margin: 0 auto;
  padding: 7px 15px;
}


@media screen and (max-width: 767px) {
  .table {
    border: 0;
  }
  .table-row {
    display: block;
    border-bottom: 3px solid #ddd;
    margin-bottom: .625em;
  }
  .table-row__mobile {
    display: block;
  }
  .table-row__desktop {
    display: none;
  }
  
  .table-data{
    border-bottom: 1px solid #ddd;
    font-size: .8em;
    text-align: right;
    display: flex;
    justify-content: space-between;
  }
  .table-data::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
  }
  .modal-col {
    width: 100%;
  }
}